<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <a href="/collections/<%= record.collectionParent._id %>">
        <h3> Return to <%= record.collectionParent.name %></h3></a>

    <h1>Edit: <%= record.title %></h1>
    
    <form 
        id="edit-record-form" 
        action="/collections/<%= record.collectionParent._id %>/records/<%= record._id %>?_method=PUT"
        method="POST">

        <label for="title-input">Title:</label>
            <input type="text" name="title" id="title-input"  value="<%= record.title %>" >

        <label for="author-input">Artist/Author:</label>
            <input type="text" name="author" id="author-input" value="<%= record.author %>">

        <label for="release-date">Release Date:</label>
            <input type="date" name="releaseDate" id="release-date" value="<%= record.releaseDate %>">

        <label for="notes-input">Notes:</label>
            <input type="text" name="notes" id="notes-input" value="<%= record.notes %>">

        <label for="image-url-input">Image URL:</label>
            <input type="text" name="imageUrl" id="image-url-input" value="<%= record.imageUrl %>">

        <button type="submit">Edit Record</button>

    </form>

    <%= // %>

</main>

<%- include('../partials/footer') %>