<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<!--     
    <form 
    action="/flights/<%= //flight._id %>/destinations/<%= //destination._id %>?_method=DELETE"
    class="delete-form"
    method="POST"
    >
    <button type="submit">X</button>
    </form> -->


</main>

<%- include('../partials/footer') %>