<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/records/new.css">
<%- include('../partials/nav') %>

<main>
    <body>
        <div id="return-to-collection-header">
            <a href="/collections/<%= collection._id %>">
                <h3 id="return-to-collection-text">Return to "<%= collection.name %>"</h3></a>
        </div>

        <div id="add-record-header">
            <h1 class="header-text" id="title-header">Add a New Item</h1>

            <img
            id="add-record-icon"
            src="/images/icons/add.png"
            alt="add a new record header image"
            />
        </div>

        <div>

            <form 
            id="add-record-form" 
            action="/collections/<%= collection._id %>/records" 
            method="POST"
            autocomplete="off">

                <div class="field-containers">
                    <div class="field-containers-label">
                        <label for="title-input" class="field-tabel-text">Title:</label>
                    </div>
                    <div class="field-containers-input-field">
                        <input type="text" name="title" id="title-input" class="input-field">
                    </div>
                </div>

                <div class="field-containers">
                    <div class="field-containers-label">
                        <label for="author-input" class="field-tabel-text">Artist/Author:</label>
                    </div>
                    <div class="field-containers-input-field">
                        <input type="text" name="author" id="author-input" class="input-field">
                    </div>
                </div>

                <div class="field-containers">
                    <div class="field-containers-label">
                        <label for="release-date" class="field-tabel-text">Release Date:</label>
                    </div>
                    <div class="field-containers-input-field">
                        <input type="date" name="releaseDate" id="release-date" class="input-field">
                    </div>
                </div>

                <div class="field-containers">
                    <div class="field-containers-label">
                        <label for="notes-input" class="field-tabel-text">Notes:</label>
                    </div>
                        <div class="field-containers-input-field">
                        <input type="text" name="notes" id="notes-input" class="input-field">
                    </div>
                </div>

                <div class="field-containers">
                    <div class="field-containers-label">
                        <label for="image-url-input" class="field-tabel-text">Image URL:</label>
                    </div>
                    <div class="field-containers-input-field">
                        <input type="text" name="imageUrl" id="image-url-input" class="input-field">
                    </div>
                </div>

                <div id="save-button-container">
                    <button type="submit" id="save-button" class="btn btn-success">Add Item to Collection</button>
                </div>
            </form>
        </div>
    </body>
</main>

<%- include('../partials/footer') %>