<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <a href="/collections/<%= collection._id %>">
        <h3> Return to <%= collection.name %></h3></a>

    <h1>Add a New Record</h1>
    
    <form 
        id="add-record-form" 
        action="/collections/<%= collection._id %>/records" 
        method="POST"
        autocomplete="off">

        <label for="title-input">Title:</label>
            <input type="text" name="title" id="title-input">

        <label for="author-input">Artist/Author:</label>
            <input type="text" name="author" id="author-input">

        <label for="release-date">Release Date:</label>
            <input type="date" name="releaseDate" id="release-date">

        <label for="notes-input">Notes:</label>
            <input type="text" name="notes" id="notes-input">

        <label for="image-url-input">Image URL:</label>
            <input type="text" name="imageUrl" id="image-url-input">

        <button type="submit">Add Record</button>

    </form>

</main>

<%- include('../partials/footer') %>