<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/records/show.css">
<%- include('../partials/nav') %>

<main>

    <a href="/collections/<%= record.collectionParent._id %>">
        <h3> Return to <%= record.collectionParent.name %></h3></a>

    <img 
        src="<%= record.imageUrl ? record.imageUrl : "/images/icons/imageUrlHold.png" %>" 
        alt="album"
        id="album-art-pic"
        >

    <h1><%= record.title %></h1>

    <a href="/collections/<%= record.collectionParent._id %>/records/<%= record._id %>/edit">
        <button type="submit">✏️</button></a>

    <form 
    action="/collections/<%= record.collectionParent._id %>/records/<%= record._id %>?_method=DELETE"
    class="delete-form"
    method="POST">
        <button type="submit">❌</button>
    </form>

    <h2><%= record.author %></h2>

    <h2><%= record.releaseDate ? record.releaseDate.toLocaleDateString('en-US', {}) : null %></h2>

    <h2><%= record.notes %></h2>

</main>

<%- include('../partials/footer') %>