<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <div>
        <a href="/profiles/me">

            <h3>Return to "My Profile"</h3>
        </a>

        <h1>Name: <%= collection.name %></h1>

        <h2>Type: <%= collection.type %></h2>

        <a href="/collections/<%= collection._id %>/new-record">
            <button type="submit">➕Add New Record</button></a>

        <a href="/collections/<%= collection._id %>/REPLACEADDEDIT">
            <button type="submit">✏️Edit</button></a>

        <form 
                action="/collections/<%= collection._id %>?_method=DELETE"
                class="delete-form"
                method="POST"
        >
        <button type="submit">❌Delete</button></form>

    </div>
    
    <h2>Records in this Collection</h2>



</main>

<%- include('../partials/footer') %>