<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    
    <h1>Name: <%= collection.name %></h1>

    <h2>Type: <%= collection.type %></h2>

</main>

<%- include('../partials/footer') %>