<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/collections/show.css">
<%- include('../partials/nav') %>

<main>
    <div>
        <a href="/profiles/me">
            <h3>Return to "My Profile"</h3></a>

        <h1>Name: <%= collection.name %></h1>

        <h2>Type: <%= collection.type %></h2>

        <a href="/collections/<%= collection._id %>/records/new">
            <button type="submit">➕Add New Record</button></a>

        <a href="/collections/<%= collection._id %>/REPLACEADDEDIT">
            <button type="submit">✏️Edit</button></a>

        <form 
                action="/collections/<%= collection._id %>?_method=DELETE"
                class="delete-form"
                method="POST"
        >
        <button type="submit">❌Delete</button></form>

    </div>
    <div>
        
        <h2>Records in this Collection</h2>

        <% collection.records.forEach(record => { %>

        <a href="/" class="logo-link">
            <img 
                src="<%= record.imageUrl ? record.imageUrl : "/images/icons/imageUrlHold.png" %>" 
                alt="album"
                id="album-art-pic"
        ></a>
        
        <a href="/" class="logo-link">
            <h3> <%= record.title %> </h3></a>

        <h4><%= record.author %></h4>

        <h4><%= record.releaseDate %></h4>

        <h4><%= record.notes %></h4>

        <form 
        action="/collections/<%= collection._id %>/records/<%= record._id %>?_method=DELETE"
        class="delete-form"
        method="POST"
>
<button type="submit">❌</button></form>

        <% }) %>
    </div>
</main>

<%- include('../partials/footer') %>