<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/explores/index.css">
<%- include('../partials/nav') %>

<main>

    <h1><%= title %></h1>

    <% collections.forEach(collection => { %>

            <div>
                <h2>Name:  <%= collection.name %></h2>

                <h3>Type: <%= collection.type %></h3>

                <a href="/collections/<%= collection._id %>">
                    <button>👀View</button></a>

        </div>
        </a>
    <% }) %>

</main>

<%- include('../partials/footer') %>