<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <% collections.forEach(collection => { %>

        <a href="/collection/<%= collection._id %>">
            <div>
                <h2>Name: <%= collection.name %></h2>
                <h3>Type: <%= collection.type %></h3>

                <h4> <%= collection.owner.name %></h4>

            </div>
        </a>
    <% }) %>

</main>

<%- include('../partials/footer') %>