<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/explores/index.css">
<%- include('../partials/nav') %>

<main>

    <h1>Explore</h1>

    <% collections.forEach(collection => { %>

      <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="<%= collection.records[0].imageUrl %>" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><%= collection.name %></h4>
            <h5 class="card-text">by <%= collection.owner.name %></h5>
            <h6 class="card-text-sub"><%= collection.type %></h6>
            <a href="/collections/<%= collection._id %>" class="btn btn-primary">View</a>
          </div>
        </div>

      <% }) %>


</main>

<%- include('../partials/footer') %>