<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/explore/index.css">
<%- include('../partials/nav') %>

<main>

  <body>

    <div id="explore-header">
    
      <h1 id="header">Explore</h1>

      <img
      id="explore-image"
      src="/images/icons/search.png"
      alt="explore header image"
      width="8%"
      />

    </div>

    <div id="collection-container" class="card-container">

      <% collections.forEach(collection => { %>

        <div>

          <a href="/collections/<%= collection._id %>">
            <img class="card-img-top" src="<%= collection.records.length ? collection.records[0].imageUrl : "/images/icons/imageUrlHold.png"%>" alt="Card image cap" >
          </a>

          <a href="/collections/<%= collection._id %>">
              <h4 class="card-title"><%= collection.name %></h4>
          </a>

          <h5 class="card-text">by <%= collection.owner.name %></h5>

          <h7 class="card-text-sub"><%= collection.type %></h7>

          <% if (collection.owner.avatar) { %>
            <img
              id="collection-owner-image"
              src="<%= collection.owner.avatar %>"
              alt="<%= collection.owner.name %>'s avatar"
              width="20%"
              class="rounded-circle"
            />
          <% } else { %>
            <img
              id="collection-owner-image"
              src="/images/icons/user.png"
              alt="A placeholder avatar"
              width="20%"
              class="rounded-circle"
            />
          <% } %>

          <a href="/collections/<%= collection._id %>" class="btn btn-primary">View</a>

          </div>

        <% }) %>

    </div>

  </body>

</main>

<%- include('../partials/footer') %>