<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>

    <% collections.forEach(collection => { %>

            <div>
                <h2>Name:  <%= collection.name %></h2>

                <h3>Type: <%= collection.type %></h3>

                <a href="/collections/<%= collection._id %>">
                    <button>👀View</button></a>

        </div>
        </a>
    <% }) %>

</main>

<%- include('../partials/footer') %>